<template>
  <div class="columns">
    <div class="column is-5">
      <div class="box">
        <div class="select is-primary">
          <select @change="fetchPeoducts($event.target.value, 0)">
            <option value="">All Product</option>
            <option v-for="item in categoriesData" :value="item.mainCategories">{{item.mainCategories}}</option>
          </select>
        </div>
        
        <div class="select is-primary" v-if="sub.length !== 0">
          <select @change="fetchPeoducts($event.target.value, 1)">
            <option value="">Choose</option>
            <option v-for="item in sub" :value="item.mainCategories">{{item.mainCategories}}</option>
          </select>
        </div>

        <div class="field is-horizontal">
          <div class="select is-primary" v-if="sub1.length !== 0">
            <select @change="fetchPeoducts($event.target.value, 2)">
              <option value="">Choose</option>
              <option v-for="item in sub1" :value="item.mainCategories">{{item.mainCategories}}</option>
            </select>
          </div> 
        </div>

      </div>
      <div class="box">
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">ProductName</label>
          </div>
          <div class="field-body">
            <div class="field is-narrow">
              <div class="control">
                <input class="input" type="text" placeholder="product name" v-model="proName">
              </div>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          
          <div class="field-label is-normal">
            <label class="label">Categories</label>
          </div>

          <div class="field-body">
            <div class="field is-narrow">
              <div class="control">
                <div class="select is-primary">
                  <select @change="fetchSubCategories($event.target.value)">
                    <option value="">Select</option>
                    <option v-for="item in categoriesData" :value="item.mainCategories">{{item.mainCategories}}</option>
                  </select>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label">
            <!-- Left empty for spacing -->
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <button class="button is-primary" @click="saveProduct(proName)" :disabled="proName === ''">
                  Add product
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- end column -->
    <div class="column is-7">
      <table class="table">
        <thead>
          <tr>
            <th><abbr title="Position">Position</abbr></th>
            <th>Categories</th>
            <th>Product</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, key, index) in fetchCategoriesData">
            <th>{{index+1}}</th>
            <td>{{item.Categories}}</td>
            <td>{{item.ProductName}}</td>
            <td><a :disabled="true" class="delete is-danger" @click="removeProduct(key)"/></td>
          </tr>
        </tbody>
      </table>
    </div> 
    <!-- end column -->    
  </div>
</template>

<script>
import Hello from './components/Hello'
import firebase from 'firebase'
var config = {
  apiKey: 'AIzaSyDPHEiHZ4XFPLbLuoVvmeSnYAFn320ft6E',
  authDomain: 'test-e5574.firebaseapp.com',
  databaseURL: 'https://test-e5574.firebaseio.com',
  projectId: 'test-e5574',
  storageBucket: 'test-e5574.appspot.com',
  messagingSenderId: '737573720305'
}
firebase.initializeApp(config)
export default {
  name: 'app',
  data () {
    return {
      db: firebase.database().ref('categories'),
      product: firebase.database().ref('Products'),
      productData: {},
      categoriesData: {},
      fetchCategoriesData: {},
      concatQuery: [],
      statusSubCategories: false,
      proName: '',
      sub: [],
      sub1: [],
      s1: [],
      s2: [],
      s3: []
    }
  },
  components: {
    Hello
  },
  methods: {
    async fetchPeoducts (query, index) {
      // กรณี product หาตั้งแต่ชั้นนอกก็หาเจอ ชั้นในก็หาเจอในแต่ละ Categories
      let vm = await this
      await this.$set(this.concatQuery, index, query)
      let newQuery = await this.concatQuery.length > 0 ? this.concatQuery.filter(item => item !== '').join('>') : this.concatQuery[0]
      console.log(newQuery, index)
      if (query !== '' && index === 0) {
        await vm.searchSub(query, index)
      } else if (query !== '' && index === 1) {
        await vm.searchSub1(query, index)
      } else if (query === '' && index !== 1) {
        // vm.sub = await []
      } else if (query === '' && index !== 2) {
        vm.sub1 = await []
        // newQuery = ''
      }

      await vm.product.orderByChild('Categories')
      .startAt(newQuery)
      .endAt(`${newQuery}\uf8ff`)
      .once('value', async (data) => {
        console.log(data.val())
        vm.fetchCategoriesData = await data.val()
      }, err => { console.log(err.code) })
    },
    searchSub (submain, index) {
      let newCategories = Object.values(this.categoriesData)
      let data = newCategories.find(item => item.mainCategories === submain)
      this.sub = data.childCatogories
    },
    searchSub1 (submain, index) {
      let newSub = this.sub.find(item => item.mainCategories === submain)
      newSub && newSub.subChild ? this.sub1 = newSub.subChild : this.sub1 = []
    },
    fetchSubCategories (query) {
      console.log(query)
    },
    saveProduct (productName) {
      this.product.push({
        'ProductName': productName,
        'Categories': 'Office Printing',
        'description': '',
        'pricePeriod': '12000 - 20000',
        'pros': '',
        'urls': {
          'imgs': ['www.', 'www.'],
          'videos': ['www.', 'www.']
        },
        'tags': ['imgfile1.png', 'imgfile2.png', 'imgfile3.png'],
        'saleContacts': ['saleCon1', 'saleCon2'],
        'sharedUrl': 'www.',
        'faqs': [{
          'key': 'faq1',
          'question': '',
          'answer': '',
          'syncApp': true
        }],
        'features': [{
          'key': 'fea1',
          'name': '',
          'detail': ''
        }]
      }).then(data => {
        console.log(data.key) // new key
      })
    },
    removeProduct (key) {
      this.product.child(key).remove()
    },
    textConcat (value, index) {
      this.concatQuery[index] = value
    }
  },
  computed: {
    concat () {
      return this.concatQuery.join('>')
    }
  },
  mounted () {
    this.product.on('value', snapshot => {
      this.fetchCategoriesData = snapshot.val()
    }, error => {
      console.log('Error: ' + error.code)
    })

    this.db.on('value', (data) => {
      this.categoriesData = data.val()
    }, error => {
      console.log('Error: ' + error.code)
    })
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
